*, *::before, *::after {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
}

h1, p{
    text-align: center;
}

.container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 15vw);
    grid-template-rows: 20vh repeat(6, 10vh);
}

@media screen and (orientation: landscape) {
    .container {
        grid-template-columns: repeat(4, 15vw);
        grid-template-rows: 20vh repeat(7, 8vh);
    }
}

.container > button {
    cursor: pointer;
    font-size: 3vh;
    border: 1px solid #ffffff;
    background-color: #aaaaaa;
}

@media screen and (max-width: 500px) {
    .container > button {
        font-size: 2vh;
    }
}

@media screen and (max-height: 500px) and (orientation: landscape) {
    h1, p {
        display: none;
    }

    .container {
        margin-top: 2vh;
        grid-template-rows: 25vh repeat(7, 10vh);
    }
}

.container > button:hover {
    background-color: #eeeeee;
}

.wide {
    grid-column: span 2;
}

.tall {
    grid-row: span 2;
}

@media screen and (orientation: landscape) {
    .wide {
        grid-column: span 1;
    }

    .tall {
        grid-row: span 3;
    }

    .w {
        grid-column: span 2;
    }

    .ww {
        grid-row: span 2;
    }
}

.output {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
}

.top, .display1, .display2, .display3 {
    color: #ffffff;
    background-color: #252525;
    border: 1px solid #ffffff;
    height: 25%;
    padding: 5px;
    text-align: right;
    font-size: 1rem;
}

.top {
    background-color: #555555;
}